#main {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
  
    font-family: 'Montserrat', sans-serif;
    color: #fbfef9;
  
    background: url("assets/Sand\ bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    align-items: center;
  }
  
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      width: 100%;
      height: 100%;
  
      text-align: center;
  }
  
  header {
      font-size: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
  
      margin-bottom: 0.5rem;
  }
   
  
  hr {
      width: 20em;
      background-color: #fbfef9;
      height: 0.175em;
  
      border-radius: 100px;
  }
  
  @media only screen and (max-width:500px) {
      .box {
          height: 6rem;
      }
  }
  
  @media only screen and (max-width:400px) {
      hr {
          width: 12em;
      }
  }
  
  @media only screen and (max-width:300px) {
      h1 {
          font-size: 2.3rem;
      }
  }
  
  .btn {
      background-color: transparent;
      border-color: #3772ff;
  
      color: #fbfef9;
      border-radius: 1em;
  
      transition: all 0.3s;
  }
  
  .btn:hover {
      background-color: #3772ff;
      transform: scale(1.1);
      color: #fbfef9;
  }
  
  .btn-xl {
      margin-top: 1rem;
      padding: 0.5rem 0.75rem;
  }
  